/* Modal styles */
.modal_card {
    position: fixed;
    margin-top: 150px;
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    background-color: #101010;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem !important;
   
  }
  
  /* Close button styles */
  .close-button {
    position: absolute;
    top: 5px;
    right: 2px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #888;
  }
  .close-button:hover{
    color:#fff;
  }
  
 /* Form container styles */
.form-container {
    display: flex;
    justify-content: center;
  }
  
  /* Individual form styles */
  .form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    width: 90%; /* Adjust as needed */
  }
  
  /* Form heading styles */
  .form-heading {
    text-align: center;
    color: #fff;
  }
  
  /* Form content styles */
  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #fff;
  }
  
  /* Forgot password styles */
  .forgot-password {
    text-align: right;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* Input styles */
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
  }
  
  /* Button styles */
  button {
    padding: 10px;
    background-color: #101010;
    border-radius: 16px 4px;
    border: 2px solid var(--primary); /* Add border color here */
    color: white;
    cursor: pointer;
  }
  .button_2 {
    padding: 10px;
    background-color: var(--primary);
    border: 2px solid var(--primary); /* Add border color here */
    color: white;
    cursor: pointer;
  }
  .button_2:hover {
    background-color: #0dd7e5;
    border:2px solid #0dd7e5;
    color :#000;
  }
  .button:hover {
    background-color: #0dd7e5;
    border: 2px solid #0dd7e5;
    color :#000;
  }
  
  /* Custom styling for register form */
  .register-form .forgot-password {
    display: none;
  }